*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    background-color: rgb(5, 5, 71);  
}
.container_nav{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom:200px;
    margin-left: 202px;
    
}

.containerli{
    display: flex;
    justify-content: center;
    gap: 80px;
}
.tittle_nav1,
.tittle_nav2,
.tittle_nav3,
.tittle_nav4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';
    font-size: 25px;
    color: white;
 
  
}
li,a{
    list-style-type: none;
    text-decoration: none;
    
}

.imgamujer-foto{
    width: 430px;
    height: 480px;
}
.container_principal_header{
    margin-top: 80px;
    background-color: rgb(231, 224, 215);
    border-radius: 5px;
    width: 455px;
    height: 66px;
    margin-left: 220px;
    display: flex;
    flex-wrap: wrap;

}


.tittle_h1_header{
  margin-left: 145px;
}

.h1_header{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 80px;
    color: white;
    width: 790px;
}

.tittle_bton{
    background-color: white;
    border-radius: 10px;
    width: 90px;
    cursor: pointer;
}
.h1_header_2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 80px;
    color: white;
    width: 790px;
    margin-bottom: 15px;
    margin-top: -29px;

}

.parr_header{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;

}

header{
height: 500px;
}

section{
    background-color: rgb(255, 255, 255);

}



.container_section{
    display: flex;
    gap: 350px;
}


.h3_div_tittle{
    margin-bottom: 66px;
    margin-top: 140px;
    margin-left: 150px;
}

.h2_div_section{
    margin-bottom: 66px;
    margin-top: 140px;

}


.span_savingmoney{
    color: skyblue;
}



/*section face*/

.h3_tittle{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    color: rgb(41, 56, 14);
    width: 95px;
    font-weight: 900;
}

.container_span_section{
    display: flex;
    gap: 5px;
}

.guion-raya{
    color: rgb(41, 56, 14);
    margin-top: -29px;
   font-size: 2rem;
   
}

.h2_tittle_section{
    font-size: 50px;
    color: rgb(41, 56, 14);
}

.h2_tittle_section_span{
 color: skyblue;
}


.container_2sections{

    display: flex;
    gap:15px px;
    
  
  
}


.img_sections{
    display: flex;
    flex: 1;
    margin-left: 150px;
    margin-bottom: 20px;
    

}


.bloq2_h2{
color: rgb(41, 56, 14);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
width: 650px;
margin-bottom: 15px;
font-size: 30px;
}


.containerbloq2{
 margin-top:  98px;
 margin-right:120px ;
 
}
.parr_bloq2{
    color: rgb(41, 56, 14);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 650px;
    font-size: 19px;
}

.parr_bloq3{
    color: rgb(41, 56, 14);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 650px;
    font-size: 19px;
}

.tittle_h1_heade2{
  
  display: none;
}
        













/* mobile screen*/
/* Estilos para el menú de navegación móvil */
.mobile-menu {
    display: none; /* Por defecto, ocultamos el menú de navegación móvil */
}

/* Media query para dispositivos móviles */
@media only screen and (max-width: 768px) {
    /* Mostramos el menú de navegación móvil en pantallas más pequeñas */
    .mobile-menu {
        display: block;
    }

    /* Opcional: Estilos adicionales para el menú de navegación móvil */
    .mobile-menu ul {
        padding: 20px;
        background-color: #f0f0f0;
    }

    .mobile-menu li {
        margin-bottom: 10px;
    }

    .mobile-menu a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }
  section{
        display: none;
    }

    .tittle_mob{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 30px;
        color: white;
        margin-bottom: 100px;
    }
    .rombo_icon_mob{
        margin-left: 20px;
        vertical-align: middle;
    }

    .container_menu_nav_mobil{
        display: flex;
        justify-content: flex-start;
        gap: 35px;
        margin-top: 15px;
    }

    .menu_mobi{
        margin-left: 99px;
        transition: transform 1s ease;
        
    }

    .menu_mobi:hover{
        transform: rotate(180deg);
    }
    
    .containerli{
    flex-direction: column;
      background-color:  rgb(0, 1, 2);
      position: fixed;
      left: 0;
      width: 100%;
      margin-top: -89px;
      align-items: center;
      height: 210px;  
      display: none;  
         
    }

    ul li{
       margin: -39px 0;
    }


    .tittle_paywisedesktop , .tittle_bton{
        display: none;
    }
    .tittle_nav1,
    .tittle_nav2,
    .tittle_nav3,
    .tittle_nav4{
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    }
.tittle_nav1-mbi{
    height: 45px;
    padding-top: 2px;
    padding-top: 2px;
}
 .tittle_nav1-mbi:hover {
        
 background-color: blue ;
 width: 100%;
 text-align: center;
 transition: 2s;
    }

    .tittle_nav2-mbi:hover{
        background-color: blue ;
        width: 100%;
        text-align: center;
        transition: 2s;
        
    }
    .tittle_nav2-mbi{
        height: 45px;
        padding-top: 2px;
    }
    .tittle_nav3-mbi{
        padding-top: 2px;
        height: 45px;
    }

    .tittle_nav3-mbi:hover{
        height: 45px;
        padding-top: 2px;
        background-color: blue ;
        width: 100%;
        text-align: center;
        transition: 2s;

    }
    .tittle_nav4-mbi{
        height: 45px;
        padding-top: 2px;
    }

    .tittle_nav4-mbi:hover{
        height: 45px;
        padding-top: 2px;
        background-color: blue ;
        width: 100%;
        text-align: center;
        transition: 2s;
        
    }
   
 .container_principal_header{
    display: none;
 }
 
 .tittle_h1_header{
 display: none;
 }
  
 .h1_header_h1mobille{
    font-size: 60px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
 }
 .h1_header_h2mobile{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 65px;
 }

 .tittle_h1_heade2{
    display: flex;
    margin-top: -250px;
    margin-left: 20px;
   
 }
.parr_header{
    color: #f5e7e7;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
}

}



